<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.pddailycogresearch.pddailycog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/dailycog_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dailycog_icon"
        android:supportsRtl="true"
        android:theme="@style/OurApp"> <!--  -->


        <!-- android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" -->
        <activity android:name=".activities.StepActivity"></activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.AirplaneModeRequestActivity"></activity>
        <activity android:name=".activities.simple.ExitActivity" />
        <activity android:name=".activities.simple.GoodByeActivity" />
        <activity android:name=".activities.QuestionnaireActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="il.ac.pddailycogresearch.pddailycog.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receivers.ConnectivityChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        </receiver>

        <activity android:name=".activities.chores.DrinkChoreActivity" />
        <activity android:name=".activities.DrinkInstrcActivity" />
        <activity android:name=".activities.chores.ListChoreActivity" />
        <activity android:name=".activities.simple.TrialInstrcActivity" />
        <activity android:name=".activities.simple.OpenQuestionnaireActivity" />
        <activity android:name=".activities.simple.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.chores.TrialChoreActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activities.simple.TrialNoticeActivity"></activity>
    </application>

</manifest>